<!-- Skills Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted">I bring a passion for learning new technologies quickly together with deep knowledge of how to structure content and create meaningful user experience. I've always been the type of person who can see the big picture but isn't afraid to dive into the details.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Code</h4>
                    <p class="text-muted">JavaScript, jQuery, ES6, AJAX, HTML, CSS, Node, Express, React, Vue ... and whatever's in your stack that I haven't learned yet. I learn new tools and frameworks quickly.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Writing & more</h4>
                    <p class="text-muted">UX strategy, documentation, writing, proofreading, editing, fact-checking, marketing strategy, research, art direction, editorial project management, coaching writers, Adobe Creative Suite</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code-fork fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Collaboration</h4>
                    <p class="text-muted">I'm very comfortable with Git and can write legible pull requests and commit messages. But more importantly, I know how to collaborate across cross-functional teams and problem-solve on the fly.</p>
                </div>
            </div>
        </div>
    </section>